<h3>Детальный пост</h3>
    <p>
        <hr />
        <%= @row['input_text'] %>
        <br />
        <hr />
        <%= @row ['created_date']%>
    </p>
    <h4>Комментарии</h4>
    <% @comments.each do |item| %>
        <p>
            <%= item['input_text'] %>
            <br />
            <span style="font-weight: bold;">Добавлен <%= item['created_date'] %></span>
        </p>
    <% end %>
    <div>
        <p>
            <form action="/post/<%= @row['id'] %>" method="POST" role="form">
                <textarea name="addNewPost" class="form-control" rows="6" placeholder="Оставте комментарий к посту"></textarea>
                </br>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </p>
    </div>